* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.admin-heading {
  font-family: monospace;
  font-size: 2rem;
  text-align: center;
  color: whitesmoke;
}

.login-form {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  width: 400px;
}

.form-control {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  flex-direction: column;
}

.form-control > input {
  height: 25px;

  font-size: 1rem;
  width: 250px;
}

.login-btn {
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: grey;
  color: whitesmoke;

  letter-spacing: 1px;
  border: none;
  transition: 0.3s all linear;
}

.login-btn:hover {
  background-color: #333;
  color: white;
}

.alert-modal {
  height: 35px;
  text-align: center;
  opacity: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  color: white;
  background-color: rgb(226, 123, 144);
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.3rem 0.3rem;
  letter-spacing: 1.2px;
}
